{
    "compiler": "modular",
    "name": "moduleShopping",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
		"scripts/index.js",
		"scripts/auction.js",
		"scripts/information.js",
		"scripts/login.js",
		"styles/app_index.scss",
		"styles/app_auction.scss",
		"styles/app_information.scss",
		"styles/app_login.scss"
	]
}